
    .text-dim{
        color:#989898;
    }

    .text-dark{
        color:#222;
        font-weight: bold;
    }

    .tx-ok{
        font-size: 1rem!important;
    }

    .text-bold{
        font-weight: bold;
    }

    .badge{
        font-size: 0.92rem;
        text-transform: capitalize;
    }


    /* Order styles */

    .sr_no{
        color:#4E31AA;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 700;
    }

   .btn{
        font-weight: bold;
   }

   /* Other */

   .force-sentence{
    text-transform: capitalize!important;
   }

   .bg-grey{
    background-color: #fafafa;
    padding:2px;
    border-radius: 4px;
   }

   .btn-link{
        background:none;
        border:none;
        padding:none;
        font-weight: bolder;
   }

   .btn-link:hover{
        text-decoration: underline;
   }

   .btn{
    margin-right:8px;
    margin-bottom:6px
   }

   .btn-other{
    color:#2F58CD;
    background:#fff;
   }

   .btn-main{
    color:#FF0303;
    background:#fff;
   }

   .text-other{
    color:#2F58CD;
   }

   .text-main{
    color:#FF0303;
   }

   .btn-home:active{
    box-shadow: 0px 0px 4px #a9a9a9;
    transition: all 0.4 ease-in-out;
  }
  
  .btn-home{
    position: fixed;
    right:12px;
    bottom:12px;
    z-index: 2;
    background-color:#fff;
    color:#4E6E81;
    border-radius:100px;
    border:none;
    height:50px;
    width:50px;
    transition: all 0.4 ease-in-out;
    box-shadow: 3px 4px 12px #a9a9a9;
  }